<div class="navbar">
    <div class="navbar-container">
        <div class="logo-container">
            <h1 class="logo">flakes</h1>
        </div>
        <div class="menu-container">
            <ul class="menu-list">
                <li class="menu-list-item"><a href="/">Home</a></li>
                <li class="menu-list-item"><a href="#movie">Movies</a></li>
                <li class="menu-list-item"><a href="#series">Series</a></li>
                <li class="menu-list-item"><a href="#latest">Latest</a></li>
                <li class="menu-list-item"><a href="#trending">Trends</a></li>
            </ul>
        </div>
        <div class="right-container">
            <div class="search">
                <div class="searchInput"><input type="text" placeholder="Search . . ." required /></div>
                <div class="searchLiveResult"></div>
            </div>
            <div class="toggle">
                <i class="fas fa-moon toggle-icon"></i>
                <i class="fas fa-sun toggle-icon"></i>
                <div class="toggle-ball"></div>
            </div>
        </div>
    </div>
</div>

<div id="mySidebar" class="sidebar">
    <!-- <i class="left-menu-icon fas fa-search"></i>
    <i class="left-menu-icon fas fa-home"></i>
    <i class="left-menu-icon fas fa-users"></i>
    <i class="left-menu-icon fas fa-bookmark"></i>
    <i class="left-menu-icon fas fa-tv"></i>
    <i class="left-menu-icon fas fa-hourglass-start"></i>
    <i class="left-menu-icon fas fa-shopping-cart"></i> -->
    <button class="closebtn" onclick="closeNav()">&times;</button>
    <a href="/">Home</a>
    <a href="#movie">Movies</a>
    <a href="#series">Series</a>
    <a href="#latest">Latest</a>
    <a href="#trending">Trends</a>
</div>

<div id="main">
    <button class="openbtn" onclick="openNav()">&#9776;</button>
</div>
