<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#151515" />

    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    />

    <link rel="stylesheet" href="/static/css/nav-sidebar.css" />
    <link rel="stylesheet" href="/static/css/{{css}}.css" />

    <!-- smooth-scrollbar -->
    <script defer src="/static/js/smooth-scrollbar.js"></script>

    <title>Bingez - movies</title>
    <style>
        .scroll-content{
            display: flex;
            flex-direction: column;
            height: -webkit-fill-available;
        }
    </style>
</head>

<body data-scrollbar>

{{{body}}}

<!-- custom script -->
<script defer src="/static/js/scroll_sidebar.js"></script>
<script defer src="/static/js/nav_searchbar.js"></script>
</body>
</html>
