@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #151515;
  color: white;
  width: 100%;
  height: 100vh;
}

.container {
  flex: 1 1 auto;
}

.container.active {
  background-color: var(--light-color);
}

.content-container {
  transition: margin-left 0.5s ease-in-out;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.allmovies {
  padding: 15px 45px;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

div.heading {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 0 1 auto;
}

div.heading > h2 {
  cursor: default;
}

div.heading.active > h2 {
  color: black;
}

/* div.heading select {
  font-size: 18px;
  outline: none;
  border: none;
  border-radius: 10px;
  padding: 6px 8px;
  -webkit-appearance: none;
}

div.heading select > option[disabled] {
  display: none;
} */

.select {
  position: relative;
  min-width: 200px;
}
.select svg {
  position: absolute;
  right: 12px;
  top: calc(50% - 3px);
  width: 10px;
  height: 6px;
  stroke-width: 2px;
  stroke: #fff;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  pointer-events: none;
}

.heading.active .select svg {
  stroke: black;
}
.select select {
  -webkit-appearance: none;
  padding: 7px 40px 7px 12px;
  width: 100%;
  border: #fff 1px solid;
  color: #fff;
  outline: none;
  border-radius: 10px;
  background: #151515;
  box-shadow: 0 1px 3px -2px #9098a9;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  transition: all 150ms ease;
}
.select select:required:invalid {
  color: #fff;
}
.select select option {
  color: inherit;
}
.select select option[value=""][disabled] {
  display: none;
}
.select select:focus {
  outline: none;
  border-color: #9098a9;
  box-shadow: 0 0 0 2px rgba(0,119,255,0.2);
}
.select select:hover + svg {
  stroke: #9098a9;
}

.heading.active select{
  border: black 1px solid;
  color: black!important;
  background: var(--light-color);
}

.sprites {
  position: absolute;
  width: 0;
  height: 0;
  pointer-events: none;
  user-select: none;
}

.list-container {
  flex: 1 1 auto;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  margin: 10px 24px;
  box-sizing: border-box;
}

.item h4 {
  margin-top: 7px;
  margin-left: 21px;
  color: #a1a1a1;
  letter-spacing: 2px;
  transition: color 200ms ease-in, text-shadow 200ms ease-in;
}

.item:hover h4 {
  color: #fff;
  text-shadow: 0 0 5px #03e9f4,
  0 0 25px #03e9f4,
  0 0 50px #03e9f4,
  0 0 100px #03e9f4;
}

.item a {
  text-decoration: none;
  color: inherit;
}

.container.active .item a {
  color: black;
}

.item img {
  object-fit: cover;
  width: auto;
  height: 218px;
  border-radius: 7px;
  /*filter: drop-shadow(2px 4px 6px black);*/
  box-shadow: rgb(218 199 211 / 40%) 3px 3px, rgba(218, 199, 211, 0.3) 5px 5px, rgba(218, 199, 211, 0.2) 7px 7px, rgba(218, 199, 211, 0.1) 9px 9px, rgb(218 199 211 / 5%) 11px 11px;
  transition: box-shadow 0.2s ease-in, transform 0.2s ease-in;
}

.item:hover img {
  transform: translate(-14px, -14px);
  box-shadow: rgb(218 199 211 / 40%) 5px 5px, rgba(218, 199, 211, 0.3) 10px 10px, rgba(218, 199, 211, 0.2) 15px 15px, rgba(218, 199, 211, 0.1) 20px 20px, rgb(218 199 211 / 5%) 25px 25px;
}

.container.active .item img {
  box-shadow: rgb(44 44 44 / 40%) 3px 3px, rgba(44, 44, 44, 0.3) 5px 5px, rgba(44, 44, 44, 0.2) 7px 7px, rgba(44, 44, 44, 0.1) 9px 9px, rgb(44 44 44 / 5%) 11px 11px;
}

.container.active .item:hover img {
  box-shadow: rgb(44 44 44 / 40%) 5px 5px, rgba(44, 44, 44, 0.3) 10px 10px, rgba(44, 44, 44, 0.2) 15px 15px, rgba(44, 44, 44, 0.1) 20px 20px, rgb(44 44 44 / 5%) 25px 25px;
}

.pagination {
  flex: 0 1 auto;
}

@media only screen and (max-width: 1200px) {
  div.heading > h2 {
    font-size: 30px;
  }

  .item img {
    width: auto;
    height: 291px;
  }

  .item h4 {
    max-width: 187px;
    font-size: 22px;
    margin-top: 2px;
    margin-left: 6px;
  }
}

@media only screen and (max-width: 600px) {
  .item img {
    height: 187px;
  }

  .item h4 {
    max-width: 120px;
    font-size: 16px;
  }
}

@media only screen and (max-width: 480px) {
  div.heading {
    margin-bottom: 15px;
  }

  div.heading > h2 {
    font-size: 26px;
  }

  .select select{
    width: 88%;
  }

  .allmovies {
    padding: 15px 25px;
  }
}
